h2.element-invisible {
	display:none;
}
.field-item .paint__img {
  display: flex;
  justify-content: space-between;
  margin: 45px 0 35px;
}
@media only screen and (max-width: 767px) {
  .field-item .paint__img {
    flex-direction: column;
  }
}
.field-item .paint__img-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.field-item .paint__img-item img {
  max-width: 100%;
  max-height: 372px;
}
.field-item .paint__img-item p {
  margin-top: 20px;
}
.field-item .paint__img-item + .paint__img-item {
  margin-left: 30px;
}
@media only screen and (max-width: 767px) {
  .field-item .paint__img-item + .paint__img-item {
    margin: 35px 0 0 0;
  }
}
.autorealuses p,
.node p
 {
    font-size: 14px;
    line-height: 20px;
    color: #dadada;
    padding: 15px 0;
    margin: 0;
}
.autorealuses h3 {
    display: block;
    color: #ff8500;
    font-size: 40px;
    line-height: inherit;
    font-weight: 900;
    font-style: italic;
    margin: 0 0 38px;
}
.autorealuses h2 {
	    color: #ff8500;
}
.autorealuses ul li,
.autorealuses ol li
 {
	    color: #dadada;
	
}
.breadcrumb {
    padding-bottom: 0.5em;
color: #dadada;
font-weight: 400;	
font-size:14px;
}
.breadcrumb a {
color: #dadada;
font-weight: 600;
font-size:14px;
}

.autorealuses table {
    border-collapse: inherit;
}
.autorealuses table tr td {

    font-size: 14px;
    line-height: 20px;
    color: #dadada;
    padding: 15px 0;
    margin: 0;

}
.view-uses-up-text {
	    color: #ffffff;
		    font-size: 14px;
}
.view-uses-up-text ul li {
    font-size: 14px;
    color: #ffffff;
}
.view-uses-up-text ol li {
    font-size: 14px;
    color: #ffffff;
	list-style: decimal;
}
.view-uses-up-text ol {
    color: #ffffff;
    margin: 0 0 0 20px;
}
.node-blog .content .field .field-items .field-item p span {

	color: #ffffff !important;
	}
.node-blog span, .node-blog ul li, .node-blog ol li {
	color: #ffffff !important;
}
.node-unpublished {
    background-color: red;
}

.crumbs {
    margin-top: 31px;
    /*z-index: 100;*/
    position: relative;
}

.faq-answer .faq-answer-label {
	display:none;
	
}

.faq-answer .field-name-body, .node-faq .content .field-name-body {
margin: 0;
background: white;
border-top: 5px solid #EAF9F9;
border-bottom: 5px solid #EAF9F9;
color: #3A3C55;
padding: 30px 30px 30px 90px;
position: relative;
font-family: 'Lato', sans-serif;
font-weight: 300;
}
.faq-answer .field-name-body:before, .node-faq .content .field-name-body:before {
content: "\201C";
font-family: serif;
position: absolute;
left: 20px;
top: 20px;
color: white;
background: #FB6652;
width: 50px;
height: 50px;
border-radius: 50%;
font-size: 50px;
line-height: 1.35;
text-align: center;
}
.faq-answer .field-name-body .field-items, .node-faq .content .field-name-body .field-items {
margin: 0 0 16px;
font-size: 22px;
letter-spacing: .05em;
line-height: 1.4;
}
.faq-answer .field-name-body .field-items, .node-faq .content .field-name-body .field-items p {
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    color: #797979;
}
.link-wrapper ul li a, #comment-form div #edit-actions #edit-submit {
    background: 0 0;
    border-width: 2px;
    border-color: #ff8500;
    border-style: solid;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 178px;
    height: 50px;
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    -webkit-transition: .3s ease;
    -o-transition: .3s ease;
    transition: .3s ease;
	width: 100%;
	cursor: pointer;
}
#comment-form {
	color:#ffffff;
}
#edit-comment-body-und-0-format {
	display:none;
}
.faq-detailed-question {
		color:#ffffff;
}
.faq-question span a {
color: #ff8500;
}
.tabs {
	position:relative;
}
.header__main-content {
	position:relative;
}
/* lend */
.container .step__title {
    display: flex;
    align-items: center;
    margin: 10px 0 15px;
}
.container .step__title .circle__step {
    position: relative;
    width: 41px;
    height: 41px;
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-box-shadow: 4px 3px 24px -7px rgba(0, 0, 0, 0.32);
    -moz-box-shadow: 4px 3px 24px -7px rgba(0, 0, 0, 0.32);
    box-shadow: 4px 3px 24px -7px rgba(0, 0, 0, 0.32);
    border-radius: 50%;
}
.container .step__title-text {
    font-size: 16px;
    margin-left: 10px;
	width: 100%;
}
.container h3.step__title-text
{
	color: #ff8500;
}
.container h3.step__title-text span {
    color: #fff;
    font-size: 14px;
    display: inherit;
    margin-left: 15%;
    line-height: 20px;
}