body {
  margin: 0;
  background-color: #fff;
}

button {
  margin: 0;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  outline: 0;
}

*,
:after,
:before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.row {
  margin-right: -15px;
  margin-left: -15px;
}

#Baggage,
#Doors,
#FrontWing,
#Frontbumper,
#Hood,
#RearBumper,
#Roof {
  opacity: 0;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.car {
  font-family: 'PT Sans', sans-serif;
  font-weight: 300;
  position: relative;
  text-align: center;
}

.car__wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.car__svgblock {
  position: relative;
  width: 970px;
  max-width: 80%;
  margin: 0 auto;
}

.car__svg {
  width: 700px;
  max-width: 80%;
  margin: 0 auto;
}

.car__title {
  text-transform: uppercase;
  margin: 50px 0;
  text-align: center;
  font-size: 34px;
  font-weight: 300;
  line-height: 1.1;
}

.car__part {
  cursor: pointer;
  position: absolute;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 1;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  max-width: 135px;
  margin: 0 0 15px;
}

.car__part:hover:after,
.car__part:hover:before {
  opacity: 1;
}

.car__part:after {
  content: '';
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  position: absolute;
  width: 30px;
  opacity: 0;
  border-left: 2px solid #b1da34;
  left: -20px;
  top: -20px;
  height: 30px;
  border-top: 2px solid #b1da34;
}

.car__part:before {
  content: '';
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  position: absolute;
  width: 30px;
  opacity: 0;
  border-right: 2px solid #b1da34;
  right: -20px;
  bottom: -20px;
  height: 30px;
  border-bottom: 2px solid #b1da34;
}

.car__part[data-id='1'] {
  left: 0;
  top: 6%;
}

.car__part[data-id='1']:hover ~ svg #RearBumper {
  fill: #A9C93C !important;
  opacity: .5;
}

.car__part[data-id='2'] {
  top: 0;
  left: 48%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.car__part[data-id='2']:hover ~ svg #Roof {
  fill: #A9C93C !important;
  opacity: .5;
}

.car__part[data-id='3'] {
  right: 0;
  top: 6%;
}

.car__part[data-id='3']:hover ~ svg #FrontWing {
  fill: #A9C93C !important;
  opacity: .5;
}

.car__part[data-id='4'] {
  top: 36%;
  right: -7.3%;
}

.car__part[data-id='4']:hover ~ svg #Frontbumper {
  fill: #A9C93C !important;
  opacity: .5;
}

.car__part[data-id='5'] {
  bottom: 6%;
  right: -2.3%;
}

.car__part[data-id='5']:hover ~ svg #Hood {
  fill: #A9C93C !important;
  opacity: .5;
}

.car__part[data-id='6'] {
  bottom: -4%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  left: 48%;
}

.car__part[data-id='6']:hover ~ svg #Doors {
  fill: #A9C93C !important;
  opacity: .5;
}

.car__part[data-id='7'] {
  bottom: 6%;
  left: 0;
}

.car__part[data-id='7']:hover ~ svg #RearWing {
  fill: #A9C93C !important;
  opacity: .5;
}

.car__part[data-id='8'] {
  top: 36%;
  left: -7.2%;
}

.car__part[data-id='8']:hover ~ svg #Baggage {
  fill: #A9C93C !important;
  opacity: .5;
}

.car__green {
  color: #a9da34;
}

.car__button {
  -webkit-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  width: 420px;
  max-width: calc(100% - 40px);
  font-size: 24px;
  font-weight: 700;
  margin: 0 auto;
  border: 3px solid #a9da34;
  line-height: 1;
  padding: 15px 0;
  margin-top: 40px;
  background-color: transparent;
}

.car__button:hover {
  background-color: #a9da34;
}

.car__underlined::after {
  content: '';
  display: block;
  background-color: #a9da34;
  position: absolute;
  width: 20px;
  height: 2px;
  margin: 8px 0 8px -10px;
}

.car__part-cost {
  display: inline-block;
  margin-top: 15px;
}

.content {
  height: 1000px;
}

.estimate {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  padding: 10px;
  background: #413f3f;
  height: 55px;
}

.estimate__link {
  display: block;
  position: relative;
  top: 2px;
  margin-right: 10px;
}

.estimate__link svg {
  width: 32px;
  height: 32px;
}

.estimate__text {
  width: 115px;
  min-width: 115px;
  margin-top: -2px;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: 'PT Sans', sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.429;
}

.estimate__green {
  color: #a9da34;
}

.estimate__quest {
  width: 54px;
  position: relative;
  top: 3px;
}

.estimate__quest svg {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 54px;
  fill: #a9da34;
}

body {
  overflow-x: hidden;
}

@media (max-width: 900px) {
  .car__part {
    width: 110px;
    font-size: 16px;
  }

  .car__part-cost {
    margin-top: 10px;
  }

  .car__underlined::after {
    margin-top: 6px;
  }
}

@media (max-width: 662px) {
  .car__title {
    margin-bottom: 30px;
  }

  .car__svg {
    display: none;
  }

  .car__part {
    max-width: 100%;
    top: 0 !important;
    left: 0 !important;
    position: relative;
    -webkit-transform: none !important;
        -ms-transform: none !important;
            transform: none !important;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }

  .car__part::before {
    display: none;
  }

  .car__part::after {
    position: relative;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    top: 0;
    left: 0;
    margin: 0;
    height: 15px;
    line-height: 1;
    width: auto;
    color: black;
    font-size: 15px;
    border: none;
    opacity: 1;
    content: '..............................................................................................................';
    overflow: hidden;
  }

  .car__part-cost {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }

  .car__underlined::after {
    display: none;
  }

  .car__underlined,
  .car__part-cost {
    margin: 0 !important;
    white-space: nowrap;
  }

  .car__button {
    margin-top: 20px;
    font-size: 22px;
  }
}

@media (max-width: 480px) {
  .estimate {
    width: 100%;
    left: 0;
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (max-width: 400px) {
  .car__title {
    font-size: 30px;
  }
}

@media (max-width: 380px) {
  .car__part {
    font-size: 14px;
  }
}

@media (max-width: 360px) {
  .car__title {
    font-size: 26px;
    margin-bottom: 20px;
  }

  .car__button {
    margin-top: 15px;
    font-size: 20px;
  }
}